<div class="navbar flex justify-between items-center p-4">
  <div class="flex justify-center items-center md:order-2">
    <div class="hamburger inline-block p-4 cursor-pointer md:hidden">
      <div class="line h-0.5 w-6 my-1 bg-black"></div>
      <div class="line h-0.5 w-6 my-1 bg-black"></div>
      <div class="line h-0.5 w-6 my-1 bg-black"></div>
    </div>
    <div class="search md:hidden">
      <img class="h-5" src="../assets/search.svg" alt="" />
    </div>
  </div>
  <div class="logo text-center flex md:order-1">
    <div class="px-2"><img class="h-5" src="../assets/logoMicrosoft.png" alt="" /></div>
    <div
      class="features absolute w-fit md:w-auto md:static md:bg-white md:translate-x-0 inset-0 md:flex md:mx-4 md:space-x-4 -translate-x-96 font-medium"
    >
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Microsoft 365</div>
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Office</div>
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Window</div>
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Surface</div>
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Xbox</div>
      <div class="item hover:underline hover:underline-offset-8 cursor-pointer">Support</div>
    </div>
  </div>
  <div class="flex md:order-3 space-x-2">
    <div>
      <span class="font-medium">All Microsoft</span>
    </div>
    <div class="search hidden md:block">
      <img class="h-5 px-2" src="../assets/search.svg" alt="" />
    </div>
    <div><img class="h-5" src="../assets/shopping-cart.png" alt="" /></div>
    <div class="text-center">
      <img class="h-5" src="../assets/profile.png" alt="" />
    </div>
  </div>
</div>

<div class="slider flex flex-col md:flex-row bg-[#f2f2f2]">
  <div class="left">
    <img src="../assets/laptops.webp" alt="" />
  </div>
  <div
    class="right flex flex-col items-center justify-center md:items-baseline py-12"
  >
    <p class="font-serif text-2xl md:text-4xl mx-5 font-medium">
      Surface Pro 9
    </p>
    <p class="w-3/4 mx-5">
      Tablet versatility and laptop power — all in one ultra-portable device
    </p>
    <button class="text-white bg-black font-bold px-4 py-2 my-6">
      Shop Now >
    </button>
  </div>
</div>

<div class="promo md:flex md:justify-center">
  <div class="item flex items-center mx-4 space-x-2 py-3">
    <img class="h-10" src="../assets/black.png" alt="" />
    <span class="font-medium font-sans">Choose your microsoft 365</span>
  </div>
  <div class="item flex items-center mx-4 space-x-2 py-3">
    <img class="h-10" src="../assets/TryNow.png" alt="" />
    <span class="font-medium font-sans">Explore Surface Device</span>
  </div>
  <div class="item flex items-center mx-4 space-x-2 py-3">
    <img class="h-10" src="../assets/xbox.png" alt="" />
    <span class="font-medium font-sans">Buy Ebox Games and Console</span>
  </div>
  <div class="item flex items-center mx-4 space-x-2 py-3">
    <img class="h-10" src="../assets/black.png" alt="" />
    <span class="font-medium font-sans">Get Windows 11</span>
  </div>
</div>
